<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <!-- <router-link :to="{ name: 'Task' }" class="navbar-brand">
        Tasksss
      </router-link> -->
      <a href="/" class="navbar-brand">MEVN Stack CRUD</a>
    </nav>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
          <div class="card">
            <div class="card-body">
              <form @submit.prevent="saveTask">
                <div class="form-group">
                  <input v-model="task.title" type="text" class="form-control" placeholder="Insert a task">
                </div>
                <div class="form-group">
                  <textarea v-model="task.description" cols="30" rows="10" class="form-control" placeholder="Description"></textarea>
                </div>

                <button class="btn btn-primary btn-block">Send</button>
              </form>
            </div>

          </div>

        </div>
        <div class="col-md-7">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="task in tasks" :key="task._id" >
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                  <button class="btn btn-danger" @click="deleteTask(task._id)">Delete</button>
                  <button class="btn btn-secondary" @click="editTask(task._id)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    data() {
      return {
        task: {},
        tasks: []
      }
    },
    methods: {
      async saveTask() {
        try {
          if(this.task._id){
            let id = this.task._id; 
            delete this.task._id;
            let response = (await axios.put('api/tasks/'+id, this.task)).data;
          }
          else{
            let response = (await axios.post('api/tasks', this.task)).data;
          }
          this.task = {}
          this.getTasks();
        } catch (error) {
          console.log(error);
        }
      },
      async getTasks() {
        try {
          this.tasks = (await axios.get('api/tasks')).data;
        } catch (error) {
          console.log(error);
        }
      },
      async deleteTask(id) {
        try {
          this.response = (await axios.delete('api/tasks/'+id,)).data;
          this.getTasks();
        } catch (error) {
          console.log(error);
        }
      },
      async editTask(id) {
        try {
          this.task = (await axios.get('api/tasks/'+id,)).data;
          console.log(response);
        } catch (error) {
          console.log(error);
        }
      }
    },
    created() {
      this.getTasks();
    }
  }
</script>